{% extends "layout.html" %}

{% block heading %}
Welcome to Book Review
{% endblock %}

{% block body %}
<div class="container">
    <h1>Book Details</h1>
    <ul>
        <li>ISBN: {{ book.isbn }}</li>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author}} minutes</li>
        <li>Year: {{ book.year}} minutes</li>
    </ul>
</div>
<div class="container">
    <h4 class="mb-n2 mt-">Write a review</h4>
    <form action="{{ url_for('book', book_id=book.id)}}" method="POST">
        <div class="form-group">
            <div class="rating"> 
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> 
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> 
                <input type="radio" name="rating" value="3" id="3" checked="checked"><label for="3">☆</label> 
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> 
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <textarea class="form-control" name="review" rows="3"
                placeholder="Enter your review here..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% if reviews %}
<div class="container mt-3 mb-10">
    <h4>Reviews</h4>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Rating</th>
                <th scope="col">Review</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{review.name}}</td>
                <td>{{review.rating}}</td>
                <td>{{review.review}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div style="height: 30px;"></div>
{% endif %}
{% endblock %}