{% extends "layout.html" %}

{% block heading %}
    Sign Up Page
{% endblock %}

{% block body %}
    <form class="form-signin" action="{{ url_for('signup') }}" method="POST">
        <!-- <img class="mb-4" src="" alt="" width="72" height="72"> -->
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        <h1 class="h3 mb-3 font-weight-normal">{{ message }}</h1>
        <label for="inputName">Full Name</label>
        <input type="text" id="inputName" name="name" class="form-control" placeholder="Full name" required autofocus>
        <label for="inputUsername">Username</label>
        <input type="username" id="inputUsername" name="username" class="form-control" placeholder="Username" required>
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control mb-2" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
    <a href="{{url_for('login')}}">
        <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Back</button>
    </a>
  
    <script>
        $(document).ready(function(){
            $("#login").addClass("active");
        });
    </script>
{% endblock %}